<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharding.jdbc.demo.dao.OrderRepository">
    <insert id="insert" parameterType="com.example.sharding.jdbc.demo.model.Order" >
        INSERT INTO t_order (
        order_id, user_id, status
        )
        VALUES (
        #{orderId,jdbcType=BIGINT},
        #{userId,jdbcType=INTEGER},
        #{status,jdbcType=VARCHAR}
        )
    </insert>
</mapper>